.portfolio-card {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(-45deg, #57737e, #78c4eb);
  box-shadow: 5px 5px 10px #32373d, -3px -3px 10px #a1c9f1;
}
.portfolio-card::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(to right bottom, #212428, #16181c);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-card:hover::after {
  opacity: 1;
}
.portfolio-card:hover {
  color: #0097e6;
}

.image-content {
  /* width: 100%; */
  margin: auto;
  cursor: n-resize;
}
.image-content img {
  width: 350px;
  object-fit: cover;
  object-position: top;
  height: 200px;
  transition: 5s all ease;
}
.portfolio-card:hover .image-content img {
  object-position: bottom;
}

.project-title {
  color: white;
  transition: color 0.4s ease;
}

.title-icon {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;
}

.portfolio-card:hover .title-icon {
  transform: scale(1);
}

/* .button-content {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #101113, -2px -2px 10px #32373d;
} */
.project-button {
  cursor: pointer;
  display: flex;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  color: white;
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(90deg, #6ecbd0, #81a0b4);
  transition: color 0.3s ease;
  box-shadow: 1px 1px 5px #a855f7, -1px -1px 5px #ec4899;
}
.project-button:hover {
  background: linear-gradient(-90deg, #6366f1, #a855f7, #ec4899);
  /* box-shadow: 2px 2px 2px #c4c4c4, -2px -2px 2px #5f7a9b; */
  box-shadow: 2px 2px 10px #a855f7, -2px -2px 10px #ec4899;
  color: white;
  font-weight: 500;
}
